$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


// COLORS

$--Dark-Blue:#264065;
$--White:#fff;
$--Grey:#909090;
$--Black:#070D15;
$--Background:#FAF8F5;