@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header.header {
  display: flex;
  margin-top: 25px;
  margin-right: 5%;
  margin-bottom: 100px;
}
header.header .nav-principal {
  margin-left: 100px;
}
header.header .nav-principal ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 5px;
}
header.header .nav-principal ul a {
  color: #264065;
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
  position: relative;
}
header.header .nav-principal ul a img {
  position: absolute;
  top: 1px;
}

.login {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.login ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.login li {
  margin: 0;
}
.login li a {
  margin: 0;
}
.login a img.bolsa {
  margin-right: 30px;
}
.login a.link {
  color: #264065;
  font-size: 12px;
  font-weight: 300;
  margin-right: 20px;
}
.login a.button {
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  background-color: #264065;
  font-size: 12px;
  font-weight: 200;
  border-radius: 20px;
}

.conteiner {
  background-color: #FAF8F5;
  padding-top: 30px;
  z-index: -1;
}

.hero {
  width: 50%;
  margin-bottom: 60px;
  background-color: #FAF8F5;
  padding-bottom: 40px;
  position: relative;
}

section.hero::before {
  content: "";
  background-image: url("/img/woman.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 20px left 20px;
  position: absolute;
  z-index: -1;
}

.hero__content .titulo {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
  color: #264065;
  margin-bottom: 30px;
}
.hero__content .sub-title {
  color: #909090;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
.hero__content a.button {
  color: #fff;
  text-decoration: none;
  padding: 8px 25px;
  background-color: #264065;
  font-size: 12px;
  font-weight: 200;
  border-radius: 20px;
}
.hero__content .conteiner-buttons {
  display: flex;
  margin-left: 0;
  align-items: center;
}
.hero__content a {
  color: #264065;
  font-size: 12px;
  text-decoration: none;
  margin-left: 0;
}

.info-products {
  position: relative;
  z-index: 2;
}

.conteiner-products {
  display: flex;
  width: 43%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  backdrop-filter: blur(8px);
  border-radius: 16px;
}
.conteiner-products article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.conteiner-products article img {
  width: 50px;
  margin-bottom: 15px;
}
.conteiner-products article h3 {
  color: #264065;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}
.conteiner-products article p {
  color: #909090;
  font-size: 13px;
  font-weight: 300;
  width: 62%;
  text-align: center;
}

div.contenedor-white {
  width: 100%;
  height: 250px;
  margin: 0;
  background-color: #fff;
  position: absolute;
  bottom: -450px;
  z-index: 1;
}

html * {
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
