
.conteiner {
    width: 1200px;
    height: 620px;
    padding-top: 30px;
    position: absolute;
    background-image: url("/img/bacground-spa.jpg");
    background-repeat: no-repeat;
    background-position: top right -82px;
    background-size: 52%;
    z-index: 3;
    background-color: $--Background;
}

.conteiner-img-woman{
    figure{
    position: absolute;
    z-index: 2;
    top: 55px;
    right: -214px;
        img{
            width: 82%;
        }
    }   
}

.hero {
    width: 50%;
    margin-bottom: 60px;
    padding-bottom: 40px;
    position: relative;
}


.hero__content{
    .titulo{
        font-size: 46px;
        font-style: normal;
        font-weight: 600;
        line-height: 55px;
        color: $--Dark-Blue;
        margin-bottom: 30px;
    }
    .sub-title{
        color: $--Grey;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 40px;
    }
    a.button {
        color: $--White;
        text-decoration: none;
        padding: 8px 25px;
        background-color: $--Dark-Blue;
        font-size: 12px;
        font-weight: 200;
        border-radius: 20px;
    }
    .conteiner-buttons{
        display: flex;
        margin-left: 0;
        align-items: center;
        

    }
    a {
        color: $--Dark-Blue;
        font-size: 12px;
        text-decoration: none;
        margin-left: 0;
    }
}

.info-products{
    position: relative;
    
}

.conteiner-products{
    display: flex;
    position: relative;
    width: 37%;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.93); 
    z-index: -1;
    border-radius: 16px;
    top: -20px;
    
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: 0;
        width: 150px;

        img{
            width:40px;
            margin-bottom: 10px;
            
            
        }
        h3{
            color: $--Dark-Blue;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
            
        }

        p{
            color: $--Grey;
            font-size: 12px;
            font-weight: 300;
            width: 80%;
            text-align: center;
        }
        
    }
}


.name{
    color: $--Dark-Blue;
    font-weight: 600;
}

.coment-1{
    background-color: opacify($color: #ffffff80, $amount: 0);
    width: 298px;
    padding: 20px 10px;
    border-radius: 16px;
    position: absolute;
    top: 335px;
    right: 38px;
    z-index: 4;
    font-size: 13px;
    
    .text{
        margin-bottom: 6px;
    }
}

.coment-2{
    background-color: rgba(255, 255, 255, 0.6);
    width: 294px;
    padding: 20px 10px;
    border-radius: 16px;
    position: absolute;
    top: 557px;
    right: 135px;
    z-index: 4;
    font-size: 13px;

    .text{
        margin-bottom: 6px;
    }
}